{% extends 'base.html' %} {% block content %}

<nav class="navbar navbar-expand bg-dark">
  <a class="navbar-brand" href="#">litreview</a>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'flux' %}">Flux</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'followers' %}">Abonements</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'posts' %}">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">Se déconnecter</a>
    </li>
  </ul>
</nav>
<br>
<br>
<h1>Suivre d'autres utilisateurs</h1>
<br>
<form action="{% url 'followers' %}" method="post">
  {% csrf_token %}
  <div class="col-3 d-inline-block">
    <input class="form-control text-center" type="text" name="username" placeholder="Nom d'utilisateur">
  </div>
  <div class="col-2 d-inline-block">
    <button type="submit" class="btn btn-primary">Envoyer</button>
  </div>
</form>
<br>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
  {% endfor %}
{% endif %}
<br>
<div>
  <h1>Abonnements</h1>
</div>
<p>Vous suivez: </p>
<table class="table">
  {% for follow in followers %}
  <tr>
    <td>{{follow.following}}</td> 
    <td><a class="btn btn-primary" href="{% url 'unfollow' follow.following.id %}" role="button"
          >unfollow</a></td>
  </tr>
  {% endfor %}
</table>
<br>
<br>
<h1>Abonnés</h1>
<p>vous êtes suivi par:</p>
<table class="table">
  {% for follow in followed %}
  <tr>
  <td>{{follow.follower}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
