{% extends 'base.html' %} {% block content %} {% load range %} {% load mathfilters %}
<div class="container">      
    
    <div class="row justify-content-center">
        <div class="card" style="width:18rem">  
            <div class="card-body">
                Titre:
                {{post.ticket.title}}
            </div> 
            <div class="card-body">
                <img src="{{post.ticket.image.url}}">
            </div>  
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card" style="width:18rem">
            {% if post.user == request.user %}
                <small>Vous avez créé une critique</small>
            {% else %}
                <small>{{post.user}} a créé une critique</small>
            {% endif %}
            <small>{{post.date_created}}</small>
            <div class="card-body">
                <h5 class="card-title">
                    <strong>Titre:</strong>
                    {{post.titleR}} 
                </h5>
                <p class="card-text">
                    <strong>Comment:</strong>
                    {{post.comment}} 
                </p>
                <p>
                    <strong>Note:</strong>
                    {% for value in post.note|range %}    
                        <span>&#9733;</span>
                    {% endfor %}
                    {% for value in 4|sub:post.note|range %}    
                        <span>&#9734;</span>
                    {% endfor %}

                    <span>&#9734;</span>
                </p>
                <p class="card-text">
                    {% if post.user == request.user %}
                        <a href="{% url 'edit_review' post.id %}" class="btn btn-primary">Modifier review</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}