{% extends 'base.html' %} {% block content %}
<ul class="nav">
  <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
  <li><a href="">Posts</a></li>
  <li><a href="">Abonnement</a></li>
  <li><a href="">Flux</a></li>
</ul>

<h1>Flux</h1>

<section class="options">
  <a href="{% url 'create_ticket' %}"
    >Créer un ticket &nbsp;&nbsp;&nbsp;&nbsp;
  </a>
  <a href="{% url 'create_review' %}">Créer une review</a>
</section>

<p></p>

{% for ticket in tickets %}
<div class="div_ticket">
  <section class="ticket">
    <p><strong> Titre:</strong> {{ticket.title}}</p>
    <p><strong>Description:</strong> {{ticket.description}}</p>
    <img src="{{ticket.image.url}}" />
    {% if ticket.uploader == request.user %}
    <p><a href="{% url 'edit_ticket' ticket.id %}">Modifier le ticket</a></p>
    {% endif %}
    <br />
    <br />
  </section>
</div>

{% endfor %} {% for review in reviews %}
<div class="div_ticket">
  <section class="ticket">
    <p><strong> Ticket:</strong> {{review.ticket.title}}</p>
    <br />
    <p><strong>Note:</strong> {{review.note}}</p>
    <br />
    <p><strong>Comment:</strong> {{review.comment}}</p>
    {% if review.user == request.user %}
    <p><a href="{% url 'edit_review' review.id %}">Modifier le ticket</a></p>
    {% endif %}
  </section>
</div>

{% endfor %} {% endblock %}
