{% extends 'base.html' %} {% block content %}
<nav class="navbar navbar-expand bg-dark">
  <a class="navbar-brand" href="#">litreview</a>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'flux' %}">Flux</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'followers' %}">Abonements</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'posts' %}">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">Se déconnecter</a>
    </li>
  </ul>
</nav>

<div class="container">
  <br />
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Flux</h1>
    </div>
  </div>
  <br />
  <div class="row justify-content-around">
    <div class="col-2">
      <a class="btn btn-primary" href="{% url 'create_ticket' %}" role="button"
        >Créer un ticket</a
      >
    </div>
    <div class="col-2">
      <a class="btn btn-primary" href="{% url 'create_review' %}" role="button"
        >Créer une review</a
      >
    </div>
  </div>

  <br />

  {% for ticket in tickets %}
  <div class="div_ticket">
    <section class="ticket">
      <br />
      <br />
      <p><strong> Titre:</strong> {{ticket.title}}</p>
      <p><strong>Description:</strong> {{ticket.description}}</p>
      <img src="{{ticket.image.url}}" />
      <br />
      {% if ticket.uploader == request.user %}
      <p><a href="{% url 'edit_ticket' ticket.id %}">Modifier le ticket</a></p>
      {% endif %}
      <br />
      <br />
    </section>
  </div>

  {% endfor %} {% for review in reviews %}
  <div class="div_ticket">
    <section class="ticket">
      <br />
      <br />
      <p><strong> Ticket:</strong> {{review.ticket.title}}</p>
      <br />
      <p><strong>Note:</strong> {{review.note}}</p>
      <br />
      <p><strong>Comment:</strong> {{review.comment}}</p>
      <br />
      {% if review.user == request.user %}
      <p><a href="{% url 'edit_review' review.id %}">Modifier le ticket</a></p>
      {% endif %}
    </section>
  </div>
</div>

{% endfor %} {% endblock %}
