{% extends 'base.html' %} {% block content %}
<ul class="nav">
  <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
  <li><a href="{% url 'posts' %}">Posts</a></li>
  <li><a href="{% url 'followers' %}">Abonnement</a></li>
  <li><a href="{% url 'flux' %}">Flux</a></li>
</ul>

<h1>Posts</h1>
<br />
{% for ticket in tickets %} {% if ticket.uploader == request.user
%}{{ticket.title}}{{ticket.description}}
<img src="{{ticket.image.url}}" /> {% endif %} {% endfor %}
<br />
{% for review in reviews %} {% if review.user == request.user %} {{review}} {%
endif %} {% endfor %} {% endblock %}
