{% extends 'base.html' %} {% block content %}
<nav class="navbar navbar-expand bg-dark">
  <a class="navbar-brand" href="#">litreview</a>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'flux' %}">Flux</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'followers' %}">Abonements</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'posts' %}">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">Se déconnecter</a>
    </li>
  </ul>
</nav>

<h1>Posts</h1>
<br />
{% for ticket in tickets %} {% if ticket.uploader == request.user %}
{{ticket.title}}{{ticket.description}} <img src="{{ticket.image.url}}" />
{%endif %} {% endfor %}
<br />
{% for review in reviews %} {% if review.user == request.user %} {{review}} {%
endif %}{% endif %} {% endfor %}{% endblock %}
